#Eclipse
jdt.ls-java-project/
.metadata/
.classpath
.factorypath
.project
.settings/
test-output/

#Target
target/

# CMake
cmake-build-debug/

# IntelliJ
/out/
.idea/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Ruby plugin and RubyMine
/.rakeTasks

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

#Local device configuration files
src/test/resources/configuration.properties

# End of https://www.gitignore.io/api/intellij
