<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Demo" parallel="true" thread-count="2">
  <groups>
    <run>
      <exclude name="broken"/>
    </run>
  </groups>
  <test name="Run tests with chrome on macOS">
    <parameter name="runEnv" value="REMOTE"/>
    <parameter name="runDriver" value="chrome"/>
    <parameter name="runVersion" value="74.0"/>
    <parameter name="runOs" value="macOS 10.14"/>
    <packages>
      <package name="com.mgigena.automationdemo.tests.desktop"/>
    </packages>
  </test>
  <test name="Run tests with firefox on Windows 10">
    <parameter name="runEnv" value="REMOTE"/>
    <parameter name="runDriver" value="firefox"/>
    <parameter name="runVersion" value="67.0"/>
    <parameter name="runOs" value="Windows 10"/>
    <packages>
      <package name="com.mgigena.automationdemo.tests.desktop"/>
    </packages>
  </test>
  <test name="Run mobile tests remotely">
    <parameter name="runEnv" value="REMOTE"/>
    <parameter name="appiumVersion" value="1.9.1"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="8.1"/>
    <parameter name="deviceName" value="Samsung Galaxy S9 Plus HD GoogleAPI Emulator"/>
    <parameter name="browserName" value="Chrome"/>
    <packages>
      <package name="com.mgigena.automationdemo.tests.mobile"/>
    </packages>
  </test>
</suite>